.btn-aceita{
  background-color: green;
  color: #fff;
  text-deColoration: none;
}
.btn-rejeitado{
  background-color: red;
  color: #fff;
  text-deColoration: none;
}
.btn-pendurado{
  background-color: #FF8C00;
  color: #fff;
  text-deColoration: none;
}
.b-aceita, .b-rejeitado, .b-pendurado{

}
.btn-aceita:hover, .btn-rejeitado:hover, .btn-pendurado{
  color: #fff;
}
